<link rel="stylesheet" type="text/css" href="secreteid.css" />
<script type="text/javascript" src="secreteid.js"></script>

<!-- <img class="image" src="download.png"></img>-->

<div class="container">



</button>

<br><br>
<div class="container">
  <div class="row">
    <div class="col-sm">


    </div>
    <div class="col-sm">
      <h2>Welcome, {{name}}</h2>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
<br><br>
<div class="container">

<div class="column">
    <div class="col">
      <h3>You have {{assignedName}} for Secret Eid</h3>

      <h4>{{assignedName}}'s wishlist:</h4>


      <textarea rows="4" cols="50">{{assignedWishList}}</textarea>


    </div>
  <hr style="height:1px;border:none;color:#000000;background-color:#000000;" />
    <div class="col">
      <h4>For Eid I want...</h4><br><br>
      <form method="POST">
        <textarea name="wishlist" placeholder="Add to your wishlist here..." rows="4" cols="50">{{wishlist}}</textarea>
        <br></br>



        <button>Update Wishlist</button>

      </form>
    </div>
  </div>

</div>

<!-- <div class="row">

  <h2>Welcome, {{name}}</h2>
  <br></br>
  <h3>You have {{assignedName}} for Secret Eid</h3>
  <br></br>
  <h4>{{assignedName}}'s wishlist:</h4>


  <textarea rows="4" cols="50">{{assignedWishList}}</textarea>
  <br></br>
  <hr></hr>
<br><br>

<h4>{{name}}'s wishlist:</h4>
  <h4>For Eid I want...</h4>
  <form method="POST">
    <textarea name="wishlist" placeholder="Add to your wishlist here..." rows="4" cols="50">{{wishlist}}</textarea>
    <br></br>



    <button>Update</button>

  </form>

</div> -->
  <!-- <table class="flex-container">
  <tr>
  <td>Moose</td>
</tr>
<tr>
<td>Persis</td>
</tr>
<tr>
<td>Demi</td>
</tr>
<tr>
<td>Aria</td>
</tr>
<tr>
<td>Humad</td>
</tr>
<tr>
<td>Brian</td>
</tr>
<tr>
<td>Bill</td>
</tr>
<tr>
<td>David</td>
</tr>


</table> -->
<!-- <br></br> -->

<!-- <a href='secreteid2.html'> -->
<!-- <button class="randomButton" onclick="randomNameGenerator()">Randomize</button> -->
<!-- </a> -->
<!-- <br></br>




<div id="setName"></div>
<script type="text/javascript" src="./secreteid.js"></script>

</div>

<!-- <script>
var randomNames = ["Moose", "Aria", "Persis", "Demi", "Humad"];

function randomNameGenerator() {

document.getElementById("setName").innerHTML = randomNames[Math.floor(Math.random() * randomNames.length)];

}
</script> -->
